

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #003366;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/*Navbar*/
nav {
  background-color: #003366;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  font-size: 1.2rem;
  text-decoration: none;
}

nav a:hover {
  color: blanchedalmond;
}

/* Dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Style for dropdown button */
.dropbtn {
  background-color: #003366;
  color: white;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside dropdown */
.dropdown-content a {
  color: #c5d7e9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #002244;
}

main {
  padding: 20px;
  background-color: white;
}
/*banner*/
.banner img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}
/*news section*/
.news {
  padding: 10px;
  background-color: #eef1f5;
  border-radius: 5px;
}

.news h2 {
  color: #003366;
}

.news-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  border-left: 5px solid #003366;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.news-item h3 {
  margin: 0;
  color: #003366;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
